# Prerequisites
*.d
*.toc
*.log
*.out
*.pdf
*.aux
*.gz
# Object files
*.o
*.ko
*.obj
*.elf
*.fdb_latexmk
*.fls
finite

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (dynamically linked libraries)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
Tex/wake.glo
Tex/wake.idx
